 body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     line-height: 1.5;
     padding: 0px;
     margin: 0px;
     background-color: rgb(231, 230, 230);
 }
 /* main-container */
 
 .main-container {
     min-height: 100vh;
     overflow: hidden;
     display: block;
     position: relative;
     padding-bottom: 100px;
 }
 
 ul {
     padding: 0px;
     margin: 0px;
 }
 /*container*/
 
 .container {
     width: 80%;
     margin: auto;
     overflow: hidden;
 }
 
 .sign-up-form {
     text-align: center;
 }
 
 .account-form {
     text-align: center;
 }
 
 .button1 {
     height: 25px;
     background: red;
     border: 0px;
     padding-left: 20px;
     padding-right: 20px;
     color: white;
 }
 
 header {
     background: rgb(90, 102, 73);
     color: white;
     padding-top: 30px;
     min-width: 70px;
     border-bottom: red 3px solid;
 }
 
 header a {
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
 }
 
 header li {
     float: left;
     display: inline;
     padding: 0 20px 0 20px;
 }
 
 header #logo {
     float: left;
 }
 
 header #logo h1 {
     margin: 0;
 }
 
 header nav {
     float: right;
     margin-top: 10px;
 }
 
 header .highlight,
 header .current a {
     color: rgb(243, 14, 14);
     font-weight: bold;
 }
 
 header a:hover {
     color: rgb(236, 29, 29);
     font-weight: bold;
 }
 /*showcase*/
 
 #showcase {
     min-height: 600px;
     text-align: center;
     background-image: url("../images/barrett-ward-684178-unsplash.jpg");
     background-repeat: no-repeat;
     background-size: 1500px 950px;
     color: rgb(56, 55, 55);
 }
 
 #showcase h1 {
     margin-top: 100px;
     font-size: 50px;
     margin-bottom: 10px;
 }
 
 #showcase p {
     font-size: 20px;
     text-align: center;
 }
 
 .dropbtn {
     background-color: rgb(238, 44, 30);
     color: bisque;
     padding: 10px;
     font-size: 14px;
     border: none;
 }
 
 .dropdown {
     position: relative;
     display: inline-block;
 }
 
 signup #box {
     text-align: left;
     position: absolute;
     width: 340px;
     height: 400px;
     top: 50%;
     left: 50%;
     margin-top: -140px;
     margin-left: -170px;
     background: #fff;
     border-radius: 40px;
     border: 1px solid rgb(100, 104, 107);
     box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
 }
 
 form {
     margin: 0 auto;
     margin-top: 20px;
     text-align: center;
 }
 
 label {
     color: #555;
     display: inline-block;
     margin-left: 20px;
     padding-top: 10px;
     font-size: 14px;
     width: 210px;
     text-align: right;
 }
 
 .container p a {
     font-size: 11px;
     color: #aaa;
     float: right;
     margin-top: -13px;
     margin-right: 20px;
 }
 
 p a:hover {
     color: rgb(111, 202, 149);
 }
 
 input {
     font-family: "Helvetica Neue", Helvetica, sans-serif;
     font-size: 12px;
     outline: none;
 }
 
 input[type=text],
 input[type=password] {
     color: rgb(43, 22, 119);
     padding-left: 10px;
     margin: 10px;
     margin-top: 12px;
     margin-left: 18px;
     width: 290px;
     height: 35px;
 }
 
 #lower {
     background: #e7d1ec;
     width: 100%;
     height: 120px;
     margin-top: 20px;
 }
 
 #lower p a {
     text-align: center;
 }
 
 input[type=checkbox] {
     margin-left: 20px;
     margin-top: 5px;
     text-align: left;
 }
 
 .check {
     margin-left: 3px;
 }
 
 input[type=submit] {
     float: center;
     margin-right: 20px;
     margin-top: 2px;
     background-color: rgb(151, 151, 151);
     width: 80px;
     height: 30px;
 }
 
 #new {
     text-align: center;
     widows: 20px;
 }
 
 fieldset {
     margin-left: 80px;
     margin-top: 50px;
     width: 60%;
     height: 60%;
 }
 
 legend {
     background-color: rgb(190, 24, 24);
     color: rgb(238, 236, 236);
     padding: 3px 6px;
 }
 
 #another {
     background-color: maroon;
     padding: 3px 16px;
 }
 
 #requests {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     border-collapse: separate;
     width: 100%;
 }
 
 #requests td,
 #requests th {
     border: 1px solid #ddd;
     padding: 9px;
 }
 
 #requests tr:nth-child(even) {
     background-color: rgb(170, 204, 204);
 }
 
 #requests tr:hover {
     background-color: rgb(223, 197, 210);
 }
 
 #requests th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: rgb(44, 172, 123);
     color: white;
 }
 
 footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     padding: -10px;
     margin-top: 10px;
     color: white;
     background-color: red;
     text-align: center;
 }